<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hospital Management System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
<div id="google_translate_element"></div>
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement(
      {pageLanguage: 'en', includedLanguages: 'hi,mr,ta,te,bn,gu,kn,ml,pa,ur', layout: google.translate.TranslateElement.InlineLayout.SIMPLE},
      'google_translate_element'
    );
  }
</script>
<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <!-- Navbar -->

    <nav class="home-navbar">

        <div class="home-logo">

             Hospital Management System

        </div>

        <div class="home-links">

            <a href="/">Home</a>

            <a href="/login">Login</a>

            <a href="/register">Register</a>

        </div>

    </nav>



    <!-- Hero Section -->

    <section class="hero">

        <div class="hero-text">

            <h1>Welcome to Hospital Management System</h1>

            <p>

                A simple and efficient way to manage doctors,
                patients, nurses and appointments.

            </p>

            <a href="/login" class="btn">Login</a>

            <a href="/register" class="btn btn-secondary">Register</a>

        </div>

    </section>



    <!-- Features -->

    <section class="features">

        <h2>Our Features</h2>

        <div class="feature-container">

            <div class="feature-card">

                <h3> Doctor Management</h3>

                <p>Add, update and manage doctor records.</p>

            </div>

            <div class="feature-card">

                <h3> Patient Management</h3>

                <p>Maintain patient details securely.</p>

            </div>

            <div class="feature-card">

                <h3> Appointment Booking</h3>

                <p>Book and manage appointments easily.</p>

            </div>

            <div class="feature-card">

                <h3> Dashboard</h3>

                <p>View hospital statistics in one place.</p>

            </div>

        </div>

    </section>



    <!-- Footer -->

    <footer>

        <p>© 2026 Hospital Management System | Computer Engineering Project</p>

    </footer>

</body>

</html>
