<!DOCTYPE html>
<html>
<head>

    <title>Patient Report</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
<div id="google_translate_element"></div>
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement(
      {pageLanguage: 'en', includedLanguages: 'hi,mr,ta,te,bn,gu,kn,ml,pa,ur', layout: google.translate.TranslateElement.InlineLayout.SIMPLE},
      'google_translate_element'
    );
  }
</script>
<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<body>

<div class="report-page">

    <h1>Patient Report</h1>

    <p class="page-subtitle">
        Patient information and demographic details
    </p>

    <div class="report-table-container">

        <table class="report-table">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Disease</th>
                    <th>Phone</th>
                    <th>Gender</th>
                    <th>Blood Group</th>
                </tr>
            </thead>

            <tbody>

                {% for patient in patients %}

                <tr>
                    <td>{{ patient[0] }}</td>
                    <td>{{ patient[1] }}</td>
                    <td>{{ patient[2] }}</td>
                    <td>{{ patient[3] }}</td>
                    <td>{{ patient[4] }}</td>
                    <td>{{ patient[5] }}</td>
                    <td>{{ patient[6] }}</td>
                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

</body>

</body>
</html>
