<!DOCTYPE html>
<html>
<head>

    <title>Medicine Inventory</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
<div id="google_translate_element"></div>
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement(
      {pageLanguage: 'en', includedLanguages: 'hi,mr,ta,te,bn,gu,kn,ml,pa,ur', layout: google.translate.TranslateElement.InlineLayout.SIMPLE},
      'google_translate_element'
    );
  }
</script>
<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<div class="page-container">

    <div class="page-header">

        <h1>Medicine Inventory</h1>
        <a href="/add_medicine" class="btn-primary">
            Add Medicine
        </a>

    </div>

    <table class="data-table">

        <tr>

            <th>ID</th>
            <th>Medicine</th>
            <th>Category</th>
            <th>Manufacturer</th>
            <th>Batch No</th>
            <th>Stock</th>
            <th>Unit Price</th>
            <th>Expiry Date</th>
            <th>Action</th>

        </tr>

        {% for medicine in medicines %}

        <tr>

            <td>{{ medicine[0] }}</td>
            <td>{{ medicine[1] }}</td>
            <td>{{ medicine[2] }}</td>
            <td>{{ medicine[3] }}</td>
            <td>{{ medicine[4] }}</td>
            <td>{{ medicine[5] }}</td>
            <td>₹ {{ medicine[6] }}</td>
            <td>{{ medicine[7] }}</td>

            <td>

                <a href="/edit_medicine/{{ medicine[0] }}"
                   class="edit-btn">

                    Edit

                </a>

            </td>

        </tr>

        {% endfor %}

    </table>

    <br>

    <a href="/pharmacist_dashboard"
       class="back-btn">

        ← Back to Dashboard

    </a>

</div>

</body>
</html>
